<%- include("partials/header") %>
    <section class="features">
        <div class="layout">
            <% for (const post of features) { %>
            <a class="<%= Object.keys(post.feature.toJSON()).find(key => post.feature[key] === true) %> card" href="/blog/<%= post._id %>">
                <img src="<%= post.image %>">
                <div class="content">
                    <header>
                        <h2>
                            <%= (post.title) ? post.title : ((post.metadata.track) ? post.metadata.track : post.metadata.album) %>
                        </h2>
                    </header>
                    <footer>
                        <p><time><%= moment(post.date).fromNow() %></time></p>
                    </footer>
                </div>
            </a>
            <% } %>
        </div>
    </section>
    <section class="cards">
        <h1>The Latest</h1>
        <div class="layout">
            <% for (const post of posts) { %>
            <div class="card">
                <a href="/blog/<%= post._id %>"><img src="<%= post.image %>"></a>
                <div class="content">
                    <header>
                        <a href="/blog/<%= post._id %>"><h2>
                            <%= (post.title) ? post.title : ((post.metadata.track) ? post.metadata.track : post.metadata.album) %>
                        </h2></a>
                        <p><%= post.description %></p>
                    </header>
                    <footer>
                        <p><time><%= moment(post.date).fromNow() %></time></p>
                    </footer>
                </div>
            </div>
            <% } %>
        </div>
    </section>
<%- include("partials/footer") %>