<%- include("partials/header") %>
    <div class="tagline">
        <p id="typed"></p>
    </div>
    <section class="features">
        <h1>FEATURED</h1>
        <div class="layout">
            <% for (const [feature, post] of Object.entries(features)) { %>
            <a class="<%= feature %>" style="background-image: url('<%= post.image %>')" href="/blog/<%= post._id %>">
                <h2><%= post.title %></h2>
            </a>
            <% } %>
        </div>
    </section>
    <hr>
    <section class="cards">
        <h1>LATEST</h1>
        <div class="layout">
            <% for (const post of posts) { %>
            <div class="card">
                <img src="<%= post.image %>">
                <div class="card-body">
                    <h2><%= post.title %></h2>
                    <p><%= post.body %></p>
                    <a class="button" href="/blog/<%= post._id %>">read more</a>
                </div>
            </div>
            <% } %>
        </div>
    </section>
<%- include("partials/footer") %>