<%- include("partials/header") %>
    <section class="jumbotron">
        <h1>One stop for all things music</h1>
        <h2>Check out our {insert keywords here with typed.js}</h2>
    </section>
    <hr>
    <section class="featured">
        <h1>Featured</h1>
        <div class="layout">
            <div class="main"></div>
            <div class="side-top"></div>
            <div class="side-bottom"></div>
        </div>
    </section>
    <hr>
    <section class="cards">
        <h1>Latest</h1>
        <div class="layout">
            <% for (const post of posts) { %>
            <div class="card">
                <img src="<%= post.image %>">
                <div class="card-body">
                    <h2><%= post.title %></h2>
                    <p><%= post.body %></p>
                    <a class="button" href="/blog/<%= post._id %>">read more</a>
                </div>
            </div>
            <% } %>
        </div>
    </section>
<%- include("partials/footer") %>