<%- include("partials/header") %>
    <section class="features">
        <div class="layout">
            <% for (const post of features) { %>
            <a class="<%= post.feature %> card" href="/blog/<%= post._id %>">
                <img src="<%= post.image %>">
                <div class="content">
                    <div class="body">
                        <h2><%= post.title %></h2>
                    </div>
                    <div class="footer">
                        <p><%= moment(post.date).fromNow() %></p>
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </section>
    <section class="cards">
        <h1>The Latest</h1>
        <div class="layout">
            <% for (const post of posts) { %>
            <div class="card">
                <a href="/blog/<%= post._id %>"><img src="<%= post.image %>"></a>
                <div class="content">
                    <div class="body">
                        <a href="/blog/<%= post._id %>"><h2><%= post.title %></h2></a>
                        <p><%= post.body.substring(0,100) %></p>
                    </div>
                    <div class="footer">
                        <p><%= moment(post.date).fromNow() %></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>
<%- include("partials/footer") %>