<%- include("partials/header") %>
    <section class="jumbotron">
        <h1><span>blah, blah,</span> blah<span>, &</span> blah.</h1>
    </section>
    <hr>
    <section class="cards">
        <% for (const post of posts) { %>
        <div class="card">
            <img src="<%= post.image %>">
            <div class="card-body">
                <h2><%= post.title %></h2>
                <p><%= post.body %></p>
                <button class="button">read more</button>
            </div>
        </div>
        <% } %>
    </section>
<%- include("partials/footer") %>